.places {
  max-width: 984px;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 100%;
    margin: 0 24px;
  }
}
@media screen and (max-width: 425px) {
  .places {
    max-width: 100%;
    margin: 0 auto;
  }
}
