.place__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 1;
}
@media screen and (max-width: 1280px) {
  .place__image {
    max-width: 460px;
  }
}

/* @media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
  }
} */

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    /* min-width: 352px; */
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 100%;
    /* position: relative;
    left: -16px;
    width: calc(100% + 32px); */
  }
}
@media screen and (max-width: 425px) {
  .places {
    max-width: 100%;
  }
}
