.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 0;
    max-width: 256px;
  }
}
