.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }
}
