.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
