.place {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title website"
    "image text";
  row-gap: 48px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

@media screen and (max-width: 1279px) {
  .place {
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
}
