.place__website {
  grid-area: website;
  align-self: end;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 425px) {
  .place__website {
    padding: 0 16px;
  }
}
@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
  }
}
